{% extends 'distribution/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mailing №{{ object.pk|title }}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title pricing-card-title"> Email Subject: "{{ object.subject }}"</h5>
                    <div>Mailing Text:</div>
                    "{{ object.text }}"
                    <div class="row">
                        <span class="text-muted">{{ object.owner|default:"No owner" }}</span>
                    </div>
                    <a href="{% url 'distribution:home' %}"
                       class="btn btn-lg btn-block btn-outline-primary">Back</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4>Mailing Settings</h4>
                </div>
                <div class="card-body">
                    <h6>Mailing Time:</h6>
                    <li class="mb-3">{{ setting.distribution_time }}</li>
                    <h6>Mailing Frequency:</h6>
                    <li class="mb-3">{{ setting.distribution_periodicity }}</li>
                    <h6>Mailing Status:</h6>
                    <li class="mb-3">{{ setting.distribution_status }}</li>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4>Logs</h4>
                </div>
                <div class="card-body">
                    {% for log in logs_list %}
                    <h6>Date and Time of Attempt:</h6>
                    <li class="mb-3">{{ log.last_attempt_time }}</li>
                    <h6>Attempt Status:</h6>
                    {% if log.last_attempt_status == 'positive' %}
                    <li class="text-success mb-3">{{ log.last_attempt_status }}</li>
                    {% else %}
                    <li class="text-warning mb-3">{{ log.last_attempt_status }}</li>
                    {% endif %}
                    <h6>Mail Server Response:</h6>
                    <li class="mb-3">{{ log.last_attempt_response }}</li>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
