{% extends 'distribution/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 mx-auto text-center">
    <h1 class="display-4">Mailing Service</h1>
    <p class="lead">Here, you can manage your mailings</p>
    <p class="lead">Our service currently has: {{ parameters.settings_count }} mailings, of which
        {{ parameters.active_settings_count }} are active right now. The mailings are sent to
        {{ parameters.users_count }} unique clients</p>
</div>

<div class="container">
    <div class="mb-4">
        {% if user.is_authenticated %}
        <a href="{% url 'distribution:create' %}" class="btn btn-primary">Add Mailing</a>
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="row text-center">
        {% for setting in settings_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mailing №{{ setting.message.pk }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title">{{ setting.message.subject }}</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>"{{ setting.message.text|slice:":1000" }}"</li>
                    </ul>
                    <div class="row">
                        <span class="text-muted">{{ setting.message.owner|default:"No owner" }}</span>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col mb-3">
                        <a href="{% url 'distribution:view' pk=setting.message.pk %}"
                           class="btn btn-secondary btn-outline-light">Open</a>
                        {% if setting.message.owner == user or user.is_staff %}
                        {% if setting.distribution_status.status != "started" %}
                        <a href="{% url 'distribution:edit' pk=setting.message.pk %}"
                           class="btn btn-secondary btn-outline-light">Edit</a>
                        <a href="{% url 'distribution:delete' pk=setting.message.pk %}"
                           class="btn btn-danger btn-outline-light">Delete</a>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% if setting.message.owner == user or user.is_staff %}
                    {% if setting.distribution_status.status == "started" %}
                    <div class="row m">
                        <a href="{% url 'distribution:change_status' message_pk=setting.message.pk %}"
                           class="btn btn-warning btn-outline-light">Stop Mailing</a>
                    </div>
                    {% else %}
                    <div class="row m">
                        <a href="{% url 'distribution:change_status' message_pk=setting.message.pk %}"
                           class="btn btn-success btn-outline-light">Start Mailing</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>

<div class="pricing-header px-3 py-3 pt-md-5 mx-auto text-center">
    <p class="lead">Three Random Posts:</p>
</div>

{% load my_tags %}
<div class="container">
    <div class="row text-center">
        {% for post in parameters.random_posts %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ post.title|title }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ post.text }}</li>
                        <img src="{{ post.preview|mediapath_filter }}" class="img-thumbnail" alt="...">
                        </svg>
                    </ul>
                    <div class="card-footer">
                        <h6 class="my-0 font-weight-normal">Views: {{ post.views_count }}</h6>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
{% endblock %}
